a{
  text-decoration: none;
}

li{
  text-decoration: none;
  list-style: none;
}





.del_class{
  width: 400px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #515157;
  text-align: center;
  border-radius: 50px;
}


.del_form input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 3px solid red;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}


.del_form input[type = "submit"]:hover{
  background: red;
}



.t_detail h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.sub_del{
  position: absolute;
  top: 90px;
  right: 400px;
  height: 80px;
  padding: 5px;
}

.sub_but{
  display: inline-block;
  background-color: #86868a;
  color: white;
  padding: 15px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.sub_but:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #a0a0a4;
}




.task_description{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
}

.task_description li{
 line-height: 2em;
 font-size: 25px;
 font-weight: bold;
}}